<!DOCTYPE html>
<html>
  <head>
    <title>Job Search</title>
    <style>
      section {
        display:grid;
        gap:20px;
        grid-template-columns: repeat(3, 1fr);
      }
    </style>
  </head>
  <body>
    <h1>Remote Jobs</h1>
    <form action="/" method="get">
    <button>Go Back to Search Page</button>
    </form>
    <h3>Found {{no_results}} remote jobs for {{search_word}}</h3>
    <a href="/export?keyword={{search_word}}">Export to CSV</a>
    <section>
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Link</h4>
      {% for job in jobs %}
        <span>{{job.title}}</span>
        <span>{{job.company}}</span>
        <a href="{{job.link}}" target="_blank">Apply</a>
      {% endfor %}
    </section>
  </body>
</html>